@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
}

.only-back{
  background:  #eae9ec;
}

.bread-border{
  padding-top: 15px;
  margin-left: 50px;
  padding-bottom: 0px;
}

.Whole-box{
  border-style: none;
  background: #fff;
  border-radius:  0.31rem;
  display: inline-block;
  margin-left: 50px;
  padding: 24px;
  margin-bottom: 15px;
  
}

.My-thing{
     padding-left:15px;
}
.front{
  font-size: 20px;
}
 .front:hover{
    color:  rgb(247, 78, 106);
}
.My-thing:hover{
  color:  rgb(247, 78, 106);
  cursor: pointer;
  border-style: none solid none none;
}
.My-thing-active{
  padding-left:15px;
  color:  rgb(247, 78, 106);
  cursor: pointer;
  border-style: none solid none none;
}

.light-weight{
  font-weight: 500;
}

.pencil{
  font-weight: 200;
  font-size: 15px;
}

.the-pencil {
  cursor: pointer;
 
}
.the-pencil:hover{
  color:  rgb(247, 78, 106);
}

.home-add{
  border-style: none;
  border-radius:0.31rem ;
  background-color: #fff;
  margin-left: 60px;
  padding: 45px;
}

.blur-back{
  background-color: #fff;
  border-radius:0.31rem ;
  padding: 40px;
}

.chennai{
  background-color: #fff;
  border-radius:0.31rem ;
  box-shadow:7px 7px 5px rgb(214, 214, 214);
}

.chennai-style{
  background-color: rgb(54, 54, 54);
  color: #fff;
  border-style: none;
  display: inline-block;
  padding: 6px 5px 6px 5px;
  font-weight: 500;
}

.edit-trash{
  text-align: right;
  letter-spacing: 2px;
  padding-bottom: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.new-add{
  text-align: right;
  cursor: pointer;
}
.new-add:hover{
 color: rgb(247, 78, 106);
}
.add-sp{
  font-size: 20px;
  cursor: pointer;
}
.add-sp:hover{
  color: rgb(247, 78, 106);
}

.wall-rew{
  font-size:30px ;
  font-weight: 600;
}

.pink-wall{
  margin-left: 80px;
  margin-top: 20px;
  color: rgb(247, 78, 106);
  font-size: 20px;
  font-weight: 400;
  border-style:none none solid none;
  display: inline-block;
  border-width: 2px;
}
.wall-bal{
  font-size: 16px;
  font-weight: 350;
  
}

.color-ioiow{
  font-size: 22px;
  color: rgb(247, 78, 106) ;
}

.checkout{
  background-color: rgb(200, 200, 218);
  margin: 15px;
  color: rgb(126, 118, 118);
  padding: 10px;
}

.top{
  margin-left: 80%;
  font-size: 18px;
  color: rgb(247, 78, 106) ;
  font-weight:500 ;
  cursor: pointer;
}

.under-card{
  font-size: 12px;
}

.button-style{
  height: 30px;
  width: 140px;
  border-width: 1px;
  border-radius: 0.31rem;
  color: rgb(226, 78, 103);
  font-weight: 600;
  margin-top: 10px;
  border-color: gray;
  border-style: solid;
}

.button-exper{
  height: 40px;
  width: 100%;
  border-width: 1px;
  border-radius: 0.31rem;
  color: rgb(226, 78, 103);
  font-weight: 600;
  margin-top: 20px;
  border-color: gray;
  border-style: solid;
}

.button-style-re{
  height: 40px;
  width:160px;
  border-width: 1px;
  border-radius: 0.31rem;
  color: rgb(226, 78, 103);
  font-weight: 600;
  margin-top: 10px;
  border-color: gray;
  border-style: solid;
}

.pay-opt{
  margin: 90px;
}